button,
.btn {
  appearance: none;
  // background-color: $_button-background-color;
  border: 0;
  border-radius: 0;
  // color: contrast-switch($_button-background-color);
  cursor: pointer;
  display: inline-block;
  // font-family: $base-font-family;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  // transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  height: 40px;
  line-height: 38px;

  &.light {
    color: #FFF;
    border: 1px solid #FFF;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  @screen md {
    height: 55px;
    line-height: 53px;
    font-size: 1.125rem;
  }
}
