input,
textarea {
  appearance: none;
  display: block;
  border: none;
  border-radius: 0;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.125rem;;

  &.transparent {
    background: transparent;
    border-bottom: 1px solid #FFF;
    color: #FFF;

    &::placeholder {
      color: #FFF;
      opacity: 1;
    }
  }
}

input[type="text"] {
  height: 55px;
  line-height: 53px;
  padding: 0 1rem;
}
