h1 {
  @apply text-3xl font-header;
  line-height: 1;
  margin-bottom: 0.25rem;
  font-weight: 400;
}

h2 { @apply text-2xl leading-tight font-header mb-3 mt-8; }
h3 { @apply text-xl leading-tight mb-2 mt-6 font-header; }
h4 { @apply text-lg leading-tight mb-2 mt-6 font-header; }

@screen md {
  h1 {
    @apply text-4xl;
    margin-bottom: 1rem;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
}

@screen lg {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }
}

