h1 {
  @apply text-3xl font-header;
  line-height: 1;
  margin-bottom: 0.25rem;
  font-weight: 400;
}

h2 {
  @apply text-2xl font-header;
}

h3 {
  @apply text-xl font-header;
}

@screen md {
  h1 {
    @apply text-4xl;
    margin-bottom: 1rem;
  }

  h2 {
    @apply text-3xl;
  }
}

@screen lg {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }
}

