.center-vertical {
  @screen md {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
}

.image-filter {
  @apply bg-black opacity-50 w-full h-full absolute top-0 left-0;
}

.gradient-dark {
  background: linear-gradient(90deg, rgba(0,0,0, 0.6), transparent);
}
