#menu-main {
  ul {
    display: flex;
  }

  a {
    color: #000;
    font-size: 2.4rem;
    padding: 0 3rem;
    text-decoration: none;
    text-transform: uppercase;
    // font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      color: $action-color;
    }
  }
}

.header-small {
  #menu-main {
    a {
      font-size: 2rem;
    }
  }
}
