.page__header {
  position: relative;
  max-width: $max-screen;
  margin: 0 auto;

  .page__header-image {
    line-height: 1rem;
  }

  .page__header-image-filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .page__intro {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    color: #FFF;
    transform: translateY(-50%);
    font-size: 2.4rem;
  }
}
