.service-listing {
  margin: 8rem 0;
  display: flex;
  justify-content: center;
}

.service {
  flex: 0 1 350px;
  padding: 0 2rem;
}

.service__icon {
  margin-bottom: 2rem;
  color: $teal;
}

.service__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.service__description {
  color: $medium-gray;
}
