button,
[type='button'],
[type='reset'],
[type='submit'],
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #068587;
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  height: 55px;
  line-height: 53px;
}

button:hover,
[type='button']:hover,
[type='reset']:hover,
[type='submit']:hover,
.button:hover {
  background-color: #056a6c;
  color: #fff;
}

button:focus,
[type='button']:focus,
[type='reset']:focus,
[type='submit']:focus,
.button:focus {
  outline: 3px solid rgba(6, 133, 135, 0.6);
  outline-offset: 2px;
}

button:disabled,
[type='button']:disabled,
[type='reset']:disabled,
[type='submit']:disabled,
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover,
[type='button']:disabled:hover,
[type='reset']:disabled:hover,
[type='submit']:disabled:hover,
.button:disabled:hover {
  background-color: #068587;
}

button.lity-close {
  background: transparent;
  font-size: 35px;
  line-height: 35px;
  padding: 0;
  color: #FFF;
}

button.lity-close:hover {
  background: transparent;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375rem;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375rem;
}

input,
select,
textarea {
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
}

[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.75rem;
  padding: 0 0.5rem;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%;
  height: 55px;
  line-height: 53px;
  font-size: 1.8rem;
}

[type='color']:hover,
[type='date']:hover,
[type='datetime']:hover,
[type='datetime-local']:hover,
[type='email']:hover,
[type='month']:hover,
[type='number']:hover,
[type='password']:hover,
[type='search']:hover,
[type='tel']:hover,
[type='text']:hover,
[type='time']:hover,
[type='url']:hover,
[type='week']:hover,
input:not([type]):hover,
textarea:hover {
  border-color: #b1b1b1;
}

[type='color']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
input:not([type]):focus,
textarea:focus {
  border-color: #068587;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: none;
}

[type='color']:disabled,
[type='date']:disabled,
[type='datetime']:disabled,
[type='datetime-local']:disabled,
[type='email']:disabled,
[type='month']:disabled,
[type='number']:disabled,
[type='password']:disabled,
[type='search']:disabled,
[type='tel']:disabled,
[type='text']:disabled,
[type='time']:disabled,
[type='url']:disabled,
[type='week']:disabled,
input:not([type]):disabled,
textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']::-webkit-input-placeholder,
[type='date']::-webkit-input-placeholder,
[type='datetime']::-webkit-input-placeholder,
[type='datetime-local']::-webkit-input-placeholder,
[type='email']::-webkit-input-placeholder,
[type='month']::-webkit-input-placeholder,
[type='number']::-webkit-input-placeholder,
[type='password']::-webkit-input-placeholder,
[type='search']::-webkit-input-placeholder,
[type='tel']::-webkit-input-placeholder,
[type='text']::-webkit-input-placeholder,
[type='time']::-webkit-input-placeholder,
[type='url']::-webkit-input-placeholder,
[type='week']::-webkit-input-placeholder,
input:not([type])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #858585;
}

[type='color']::-ms-input-placeholder,
[type='date']::-ms-input-placeholder,
[type='datetime']::-ms-input-placeholder,
[type='datetime-local']::-ms-input-placeholder,
[type='email']::-ms-input-placeholder,
[type='month']::-ms-input-placeholder,
[type='number']::-ms-input-placeholder,
[type='password']::-ms-input-placeholder,
[type='search']::-ms-input-placeholder,
[type='tel']::-ms-input-placeholder,
[type='text']::-ms-input-placeholder,
[type='time']::-ms-input-placeholder,
[type='url']::-ms-input-placeholder,
[type='week']::-ms-input-placeholder,
input:not([type])::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #858585;
}

[type='color']::placeholder,
[type='date']::placeholder,
[type='datetime']::placeholder,
[type='datetime-local']::placeholder,
[type='email']::placeholder,
[type='month']::placeholder,
[type='number']::placeholder,
[type='password']::placeholder,
[type='search']::placeholder,
[type='tel']::placeholder,
[type='text']::placeholder,
[type='time']::placeholder,
[type='url']::placeholder,
[type='week']::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  color: #858585;
}

textarea {
  resize: vertical;
  height: auto;
  line-height: 1.5;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375rem;
}

[type="file"] {
  margin-bottom: 0.75rem;
  width: 100%;
}

select {
  margin-bottom: 0.75rem;
  width: 100%;
}

html {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

.wysiwyg ul,
.wysiwyg ol {
  margin: 1rem;
  padding-left: 2rem;
}

.wysiwyg ul li,
.wysiwyg ol li {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.wysiwyg ul {
  list-style-type: disc;
}

.wysiwyg ul ul {
  padding-left: 1rem;
  list-style-type: circle;
}

.wysiwyg ol {
  list-style-type: decimal;
}

.wysiwyg ol ul {
  padding-left: 1rem;
  list-style-type: lower-latin;
}

@media (max-width: 767px) {
  .wysiwyg ul li,
  .wysiwyg ol li {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto;
  border: 0;
}

svg.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: 1;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.75rem 0.75rem 0.75rem 0;
}

html {
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 62.5%;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1;
  margin: 0 0 0.75rem;
}

h1 {
  font-size: 7rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

p {
  margin: 0 0 0.75rem;
}

a {
  color: #068587;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

a:hover {
  color: #056465;
}

a:focus {
  outline: 3px solid rgba(6, 133, 135, 0.6);
  outline-offset: 2px;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5rem 0;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/

#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#cboxOverlay {
  background: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#colorbox {
  outline: 0;
}

#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #000;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  background: #000;
  padding: 1px;
}

#cboxLoadingGraphic {
  background: url(/../images/colorboxs/loading.gif) no-repeat center center;
}

#cboxLoadingOverlay {
  background: #000;
}

#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000;
}

#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */

#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url(/../images/colorboxs/controls.png) no-repeat 0 0;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */

#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}

#cboxPrevious {
  background-position: 0px 0px;
  right: 44px;
}

#cboxPrevious:hover {
  background-position: 0px -25px;
}

#cboxNext {
  background-position: -25px 0px;
  right: 22px;
}

#cboxNext:hover {
  background-position: -25px -25px;
}

#cboxClose {
  background-position: -50px 0px;
  right: 0;
}

#cboxClose:hover {
  background-position: -50px -25px;
}

.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
  right: 66px;
}

.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}

.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #FFF;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #FFF;
  -webkit-box-shadow: 0 1px 3px #CCC;
          box-shadow: 0 1px 3px #CCC;
}

#header .header__top {
  text-align: right;
  background: #068587;
}

#header .header__top .container {
  height: 3.5rem;
  line-height: 3.3rem;
}

#header .header__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
  height: 130px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#header.scrolling {
  background: rgba(0, 0, 0, 0.9);
}

#header .meta-info {
  text-align: right;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  color: #FFF;
}

#header .meta-info a {
  color: #FFF;
}

#header .menu-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

#header .site__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

#header .site__logo img {
  height: 90px;
  width: 90px;
}

#header .site__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .site__name {
  color: #058758;
  font-size: 3rem;
}

.header-small #header .meta-info {
  font-size: 1.4rem;
}

.header-small #header .header__bottom .container {
  height: 70px;
}

.header-small #header .site__logo img {
  height: 50px;
  width: 50px;
}

.header-small #header .site__name {
  font-size: 2.4rem;
}

#content {
  padding-top: 165px;
}

.page__content {
  padding: 6rem 0 0 0;
  margin: 0 auto;
}

#footer .container {
  padding: 6rem 4rem;
  background: #333;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer a {
  color: #FFF;
}

#footer .copyright {
  margin: 0 1rem;
}

#footer-menu {
  margin: 0 1rem;
}

#footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-menu ul li {
  margin: 0 1rem 1rem 1rem;
}

#trigger-mobile-menu-wrapper {
  display: none;
}

#trigger-mobile-menu-wrapper a {
  color: #068587;
}

@media (max-width: 767px) {
  #trigger-mobile-menu-wrapper {
    display: inline-block;
  }
}

#menu-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu-main a {
  color: #000;
  font-size: 2.4rem;
  padding: 0 3rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#menu-main a:hover {
  color: #068587;
}

.header-small #menu-main a {
  font-size: 2rem;
}

.page__header {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.page__header .page__header-image {
  line-height: 1rem;
}

.page__header .page__header-image-filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.page__header .page__intro {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 40%;
  color: #FFF;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.4rem;
}

.page__content section {
  text-align: center;
  padding: 4rem 2rem;
}

.page__content section h2 {
  font-weight: 300;
  font-size: 4.4rem;
  margin-bottom: 3rem;
}

.page__content section .introduction {
  font-size: 2.2rem;
  font-weight: 300;
  color: #999;
  max-width: 800px;
  margin: 0 auto 3rem auto;
}

.page__content section#horticulture {
  background: #EFEFEF;
  padding: 10rem 2rem;
}

.page__content section#contact {
  background: #058758;
  color: #FFF;
  padding: 10rem 2rem;
}

.page__content section#contact h2 {
  text-align: left;
  margin: 0 1rem 4rem 1rem;
}

.page__content section#contact .container {
  max-width: 800px;
  margin: 0 auto;
}

.service-listing {
  margin: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  padding: 0 2rem;
}

.service__icon {
  margin-bottom: 2rem;
  color: #068587;
}

.service__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.service__description {
  color: #999;
}

.portfolio-listing {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-listing .portfolio {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 2rem;
  margin-bottom: 6rem;
  max-width: 570px;
}

.portfolio-listing .portfolio__image {
  line-height: 8px;
}

.portfolio-listing .portfolio__image img {
  border: 1px solid #999;
}

.portfolio-listing .portfolio__title {
  font-size: 3rem;
  padding: 3rem 0;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

article.portfolio .portfolio__header {
  position: relative;
}

article.portfolio .portfolio__header-image-filter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0.8)), color-stop(70%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 30%, rgba(255, 255, 255, 0) 70%);
}

article.portfolio h1 {
  position: absolute;
  bottom: 20%;
  left: 3%;
  width: 40%;
  color: #FFF;
}

article.portfolio .portfolio__description {
  margin: 8rem auto;
  font-size: 2.2rem;
  color: #333;
  max-width: 800px;
}

article.portfolio .portfolio__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8rem;
}

article.portfolio .portfolio__images .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  line-height: 8px;
}

.testimonial {
  margin: 5rem auto;
  width: 70%;
}

.testimonial__content {
  font-size: 2.8rem;
  font-style: italic;
  color: #999;
  font-weight: 300;
}

.testimonial__content:before {
  content: '\201E';
}

.testimonial__content:after {
  content: '\201D';
}

.testimonial__author {
  margin-top: 2rem;
  font-size: 2rem;
  color: #333;
  font-weight: 300;
  text-align: right;
}

.testimonial__author:before {
  content: '\2015';
  margin-right: 0.5rem;
}

#contact-form .form-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0 1rem;
  width: 50%;
}

#contact-form .form-item.details {
  margin-top: 1rem;
  width: 100%;
}

#contact-form input[type="text"],
#contact-form textarea {
  background: none;
  border-bottom: 1px solid #FFF;
  color: #FFF;
}

#contact-form input[type="text"]::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
  color: #FFF;
  opacity: 1;
}

#contact-form input[type="text"]::-ms-input-placeholder,
#contact-form textarea::-ms-input-placeholder {
  color: #FFF;
  opacity: 1;
}

#contact-form input[type="text"]::placeholder,
#contact-form textarea::placeholder {
  color: #FFF;
  opacity: 1;
}

#contact-form .row {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-form .form-actions {
  text-align: right;
  margin-top: 3rem;
}

#contact-form .form-actions button {
  background: none;
  border: 1px solid #FFF;
  margin: 0 1rem;
}

