#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #FFF;
  box-shadow: 0 1px 3px #CCC;

  .header__top {
    text-align: right;
    background: $teal;

    .container {
      height: 3.5rem;
      line-height: 3.3rem;
    }
  }

  .header__bottom {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 4rem;
      height: 130px;
    }
  }


  &.scrolling {
    background: rgba(0,0,0, 0.9);
  }

  .meta-info {
    text-align: right;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
    color: #FFF;

    a {
      color: #FFF;
    }
  }

  .menu-wrapper {
    flex: 0 1 auto;
  }

  .site__logo {
    flex: 0 1 auto;
    img {
      height: 90px;
      width: 90px;
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  .site__name {
    color: $green;
    font-size: 3rem;
  }

}


