html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #FFF;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: $max-screen;
  margin: 0 auto;
}

@import "header";
@import "content";
@import "footer";
